body{
  font-size: .8em;
  line-height: 1.8em;
  font-weight: 100;
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border:50px;
  padding: 2%;
}
col-md-6{
  text-align: right;
}
input[type="message"] {
  width:100%;
}


input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  border-color: white;
  min-width: 300px;
}
img{
  position: relative;
  width: 300px;
  height:245px;
  padding-left: 500px;
}
div:col-md-9{
  margin-left: 360px;
  margin-top: -170px;

}